.seat-detail{
    padding: 30px 100px;
}

.seat-detail-default{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 40px;
    font-weight: 100;
}

.seat-detail-name{
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}

.seat-detail-ticket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seat-detail-ticket-button{
    height: 50px;
    width: 150px;
    margin-bottom: 10px;
    border: 1px black solid;
    cursor: pointer;
    background-color: #6699ff75;
}

.seat-detail-date-chooser{
    text-align: center;
}

.seat-detail-date-chooser-button{
    padding: 10px;
    font-size: medium;
    background-color: #6699ff;
    border: 1px black solid;
    cursor: pointer;
}

.seat{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    margin: 10px;
    padding: 20px;
    width: 3vw;
    height: 3vw;
    color: black;
}

.full{
    background-color: grey;
}

.empty{
    background-color: #6699ff;
    cursor: pointer;
}

.vip{
    border: 3px solid gold;
    padding: 17px;
}

.seat-row{
    display: flex;
    justify-content: space-between;
}